@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,600;0,700;1,500&display=swap');

body {
  width: 100%; 
  min-width: 375px;
  height: 100%;
  font-family: 'Livvic', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  background-color: #fafafa;
}
*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  color: #fff;
  text-decoration: none;
  transition: color .25s ease,filter .25s ease;
}
.main {
  width: 100%;
  height: 100%;
  background-color: #014e56;
}